html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, b, u, i, center,
dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* end reset */

#container {
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    max-width: 100% !important;
}

#controls {
    display: none;
}

.equation {
    font-family: monospace;
    font-size: 4em;
}

.equation.stacked {
    display: inline-block;
}

.stacked .line {
    display: block;
    text-align: right;
}

.stacked .add:before {
    content: "+ ";
}
.stacked .subtract:before {
    content: "- ";
}

.stacked span.result {
    border-top: 3px solid black;
}

/* hack to keep result there even when empty */
.stacked span.result:before {
    content: "\200b";
}
    
#buttons {
    text-align: center; 
}

#numpad, #controls {
    max-width: 17em;
    margin: 1em auto 0 auto;
    display: block;
    text-align: center;  
}

#buttons button {
    height: 2em;
    font-size: 1.8em;
    margin: 0px;
}

#numpad button, #numpad .spacer {
    width: 33%;
    display: inline-block;
    min-height: 1em; /* for spacer */
}

#numpad {
    overflow: auto;
}

#controls button {
    width: 100%;
    display: inline-block;
}


.equation.success {
    animation: succ 0.8s ease;  
    color: green;  
    opacity: 0;
}
@keyframes succ {
    0% { color: black; opacity: 1; text-shadow: 0 0 1em white; }
    60% { color: green; opacity: 1; text-shadow: 0 0 1em green; }
    100% { color: green; opacity: 0; text-shadow: 0 0 1em white; }
}

#success.show {
    opacity: 1;
    z-index: 999;
}

#result.fail {
    transition: all 0.4s ease;
    color: #ee0000;
    text-shadow: 0 0 0.5em #ee0000;
}

#config {
    height: 90%;
}
#config form {
    padding-top: 3em;
}
#configop, #configsubmit {
    font-size: 1.8em;
}
